In [2]:
import pandas as pd

In [6]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Информация о столбцах таблицы:

* **gender** — пол;
* **race/ethnicity** — раса/этническая принадлежность;
* **parental level of education** — уровень образования родителей;
* **lunch** — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
* **test preparation course** — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
* **math score, reading score, writing score** — баллы по математике, чтению и письму по сто балльной шкале.

# Практика

9.1. Данные о скольких студентах содержатся в таблице?

In [11]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

9.2. Каков балл по письму у студента под индексом 155?

In [14]:
student_data.iloc[155]['writing score']

88

9.3. Сколько суммарно пропущенных значений в таблице?

In [15]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.4. Сколько столбцов в таблице имеет тип данных object?

In [17]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.5. Какой объём памяти (в килобайтах) занимает таблица?

In [20]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.6. Каков у студентов средний балл по математике?

In [22]:
student_data['math score'].mean()

66.089

9.7. Какая расовая группа является самой крупной в учебном заведении?

In [25]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

9.8. Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [28]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

9.9. Сколько студентов получили 0 баллов по математике?

In [30]:
student_data[student_data['math score'] == 0].shape[0]

1

9.10. Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [37]:
print(f"standard lunch mean math score = {student_data[student_data['lunch'] == 'standard']['math score'].mean()}")
print(f"free/reduced lunch mean math score = {student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()}")

standard lunch mean math score = 70.03410852713178
free/reduced lunch mean math score = 58.92112676056338

9.11. Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [41]:
student_data['parental level of education'].value_counts(normalize=True) * 100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

9.12. Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [50]:
median_writing_score_group_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_writing_score_group_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(median_writing_score_group_A - mean_writing_score_group_C))

5.827586206896555